.c-request-agreements {
  &__text {
    height: 26.25rem;
    margin: 1.125rem;
    overflow-y: scroll;

    p {
      margin-bottom: 1rem;
    }
  }
}

.c-request-airplane-form, .c-request-details-form {
  padding: .5rem 1.5625rem;
}

.c-request-progress {
  margin: 1.5rem 1.125rem;
  position: relative;

  &.is-1 {
    .c-request-progress__progress:nth-child(1) {
      .c-request-progress__dot {
        background-color: #7200ff;
      }
      .c-request-progress__label {
        color: #7200ff;
      }
    }
  }

  &.is-2 {
    .c-request-progress__progress:nth-child(1) {
      .c-request-progress__dot {
        background-color: #CDA7FC;
      }
      .c-request-progress__label {
        color: #CDA7FC;
      }
    }
    .c-request-progress__progress:nth-child(3) {
      .c-request-progress__dot {
        background-color: #7200ff;
      }
      .c-request-progress__label {
        color: #7200ff;
      }
    }
    .c-request-progress__active-bar {
      width: 50%;
    }
  }

  &.is-3 {
    .c-request-progress__progress:nth-child(1) {
      .c-request-progress__dot {
        background-color: #CDA7FC;
      }
      .c-request-progress__label {
        color: #CDA7FC;
      }
    }
    .c-request-progress__progress:nth-child(3) {
      .c-request-progress__dot {
        background-color: #CDA7FC;
      }
      .c-request-progress__label {
        color: #CDA7FC;
      }
    }
    .c-request-progress__progress:nth-child(5) {
      .c-request-progress__dot {
        background-color: #7200ff;
      }
      .c-request-progress__label {
        color: #7200ff;
      }
    }
    .c-request-progress__active-bar {
      width: 100%;
    }
  }


  &__bar {
    background-color: #e5e5e5;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  &__active-bar {
    background-color: #CDA7FC;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 0;
    z-index: -1;
  }

  &__progresses {
    display: flex;
  }

  &__progress {
    &:first-of-type {
      .c-request-progress__space:first-of-type {
        background-color: white;
      }
    }
    &:last-of-type {
      .c-request-progress__space:last-of-type {
        background-color: white;
      }
    }
  }

  &__dot-container {
    display: flex;
  }

  &__space {
    flex: 1;
  }

  &__dot {
    background-color: #e5e5e5;
    border-radius: 4px;
    width: 8px;
    height: 8px;
  }

  &__label {
    color: #e5e5e5;
    font-size: .65rem;
    font-weight: 700;
    margin-top: .25rem;
  }
}

.c-request-payment {
  &__card-container {
    padding: 0 1.125rem;
  }
}

.c-request-payment-card {
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
  
  &__thumbnail {
    background-size: cover;
    background-position: 50% 50%;
    height: 10rem;
  }
  
  &__details {
    padding: .25rem .75rem;
  }
  .columns {
    margin: 0 -.5rem;
  }
  .column {
    padding: .5rem;
    flex: 2;

    &:first-of-type {
      flex: 3;
    }
  }
  &__bottom {
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__price {
    color: black;
    font-size: 2rem;
    font-weight: 800;
  }
  &__checkout {
    align-items: center;
    border-radius: .8rem;
    background-color: #ecddff;
    cursor: pointer;
    color: #7200ff;
    font-weight: 700;
    display: flex;
    height: 2rem;
    font-size: .9rem;
    padding: 0 1.25rem;
  }
}

.c-request-payment-card-item {
  &__title {
    color: rgba(0, 0, 0, .2);
    font-size: .6rem;
    font-weight: 700;
  }
  &__body {
    color: black;
    font-weight: 700;
    font-size: .8rem;
  }
}