.c-request-agreements {
  &__text {
    height: 26.25rem;
    margin: 1.125rem;
    overflow-y: scroll;

    p {
      margin-bottom: 1rem;
    }
  }
}

.c-request-airplane-form, .c-request-details-form {
  padding: .5rem 1.5625rem;
}

.c-request-progress {
  margin: 1.5rem 1.125rem;
  position: relative;

  &.is-1 {
    .c-request-progress__progress:nth-child(1) {
      .c-request-progress__dot {
        background-color: #7200ff;
      }
      .c-request-progress__label {
        color: #7200ff;
      }
    }
  }

  &.is-2 {
    .c-request-progress__progress:nth-child(1) {
      .c-request-progress__dot {
        background-color: #CDA7FC;
      }
      .c-request-progress__label {
        color: #CDA7FC;
      }
    }
    .c-request-progress__progress:nth-child(3) {
      .c-request-progress__dot {
        background-color: #7200ff;
      }
      .c-request-progress__label {
        color: #7200ff;
      }
    }
    .c-request-progress__active-bar {
      width: 50%;
    }
  }

  &.is-3 {
    .c-request-progress__progress:nth-child(1) {
      .c-request-progress__dot {
        background-color: #CDA7FC;
      }
      .c-request-progress__label {
        color: #CDA7FC;
      }
    }
    .c-request-progress__progress:nth-child(3) {
      .c-request-progress__dot {
        background-color: #CDA7FC;
      }
      .c-request-progress__label {
        color: #CDA7FC;
      }
    }
    .c-request-progress__progress:nth-child(5) {
      .c-request-progress__dot {
        background-color: #7200ff;
      }
      .c-request-progress__label {
        color: #7200ff;
      }
    }
    .c-request-progress__active-bar {
      width: 100%;
    }
  }


  &__bar {
    background-color: #e5e5e5;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  &__active-bar {
    background-color: #CDA7FC;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 0;
    z-index: -1;
  }

  &__progresses {
    display: flex;
  }

  &__progress {
    &:first-of-type {
      .c-request-progress__space:first-of-type {
        background-color: white;
      }
    }
    &:last-of-type {
      .c-request-progress__space:last-of-type {
        background-color: white;
      }
    }
  }

  &__dot-container {
    display: flex;
  }

  &__space {
    flex: 1;
  }

  &__dot {
    background-color: #e5e5e5;
    border-radius: 4px;
    width: 8px;
    height: 8px;
  }

  &__label {
    color: #e5e5e5;
    font-size: .65rem;
    font-weight: 700;
    margin-top: .25rem;
  }
}