@import 'app';
@import 'first-time';
@import 'top';
@import 'register';
@import 'button';
@import 'request';
@import 'deliver';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  box-sizing: border-box;
}
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
html, body, #app {
  background-color: #eee;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
